@font-face {
  font-family: 'Neue';
  src: url('../fonts/NeueDisplay-Random.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Regular';
  src: url('../fonts/Neue-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.ttf') format('truetype');
}
